<mat-form-field class="form-group">
  <mat-label>{{ label }}</mat-label>
  <input
    type="{{ type }}"
    matInput
    [formControl]="formControl"
    [placeholder]="placeholder"
    [value]="value || ''"
    [required]="required"
    [name]="name"
  />
  <mat-error *ngIf="formControl.hasError('{{ error }}')">
    {{ label }} est <strong>invalide</strong>
  </mat-error>
  <mat-error *ngIf="formControl.hasError('required')">
    {{ label }} est <strong>obligatoire</strong>
  </mat-error>
</mat-form-field>
