<ng-container *ngIf="loading;">
  <div class="d-flex justify-content-center align-items-center">
    <iframe src="https://lottie.host/?file=7a0016c8-5775-44a9-b9db-51cb3ac3c79b/CwGXR2hY16.json" width="400" height="400" frameborder="0" style="border: none;" loading="lazy"
    >

    </iframe>

    <div class="d-flex flex-column align-items-center">
      <h1 class="text-center">Chargement des données</h1>
      <p class="text-center">Veuillez patienter...</p>
    </div>

  </div>
</ng-container>

<div class="container-fluid w-90 justify-content-center d-flex flex-column align-items-center" *ngIf="!loading;">
  <app-searchbar></app-searchbar>
  <p-dataView #dv [value]="houses" [layout]="layout">


    <ng-template let-house pTemplate="gridItem">


      <a class="text-decoration-none text-dark" [routerLink]="['/house', house.id]">
      <div class="p-3">
        <div class="card mb-3 position-relative w-100" style="min-width:300px;">
        <span class="badge badge-primary position-absolute top-0 end-0 m-2">
          <p-tag [value]="house.statusHouse.status" [severity]="getSeverity(house)"></p-tag>
        </span>
          <img
            [src]="house.photos[0].url"
            [alt]="house.title"
            class="card-img-top"
            style="max-height: 200px;"
          />
          <div class="card-body">
            <h5 class="card-title"><span class="d-flex align-items-center gap-2">
                <i class="pi pi-tag"></i>
                <span class="font-weight-semibold">{{ house.typeHouse.type }}</span>
            </span></h5>
            <p class="card-text">{{ house.title }}</p>

          </div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            <span class="badge bg-warning">{{ house.price + 'FCFA' }}</span>
            <span class="material-icons">
              <i class="pi pi-eye"></i>
            </span>
          </div>
        </div>
      </div>
      </a>
    </ng-template>



  </p-dataView>

</div>
