<ng-container *ngIf="loading;">
  <div class="d-flex justify-content-center align-items-center">
    <iframe src="https://lottie.host/?file=7a0016c8-5775-44a9-b9db-51cb3ac3c79b/CwGXR2hY16.json"></iframe>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

    <div class="d-flex flex-column align-items-center">
      <h1 class="text-center">Chargement des données</h1>
      <p class="text-center">Veuillez patienter...</p>
    </div>

  </div>
</ng-container>

<div class="container-fluid" *ngIf="!loading;">
  <app-searchbar></app-searchbar>
  <p-dataView #dv [value]="houses" [layout]="layout">
    <ng-template pTemplate="header">
      <div class="d-flex justify-content-end">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>

    <ng-template let-house pTemplate="gridItem" class="container m-auto">
      <a href="#" class="text-decoration-none text-dark">


      <div class="p-3">
        <div class="card mb-3 position-relative w-100" style="min-width:300px;">
        <span class="badge badge-primary position-absolute top-0 end-0 m-2">
          <p-tag [value]="house.statusHouse.status" [severity]="getSeverity(house)"></p-tag>
        </span>
          <img
            [src]="house.photos[0].url"
            [alt]="house.title"
            class="card-img-top"
            style="max-height: 200px;"
          />
          <div class="card-body">
            <h5 class="card-title">{{ house.title }}</h5>
            <p class="card-text font-weight-bold">{{ house.typeHouse.type }}</p>
          </div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            <span class="badge bg-danger">{{ house.price + 'FCFA' }}</span>
            <button
             mat-flat-button
              color="warn"
            >
              <mat-icon>visibility</mat-icon>
            </button>
          </div>
        </div>
      </div>
      </a>
    </ng-template>

    <ng-template let-house pTemplate="listItem">
      <a href="#" class="text-decoration-none text-dark">
      <div class="col-12">
        <div class="d-flex flex-column flex-xl-row align-items-xl-start p-4 gap-4">
          <img
            class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-rounded"
            [src]="house.photos[0].url"
          />
          <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center align-items-xl-start flex-1 gap-4">
            <div class="d-flex flex-column align-items-center align-items-sm-start gap-3">
              <div class="h2 font-weight-bold text-dark">{{ house.title }}</div>
              <div class="d-flex align-items-center gap-3">
              <span class="d-flex align-items-center gap-2">
                <i class="pi pi-tag"></i>
                <span class="font-weight-semibold">{{ house.typeHouse.type }}</span>
              </span>
                <p-tag [value]="house.statusHouse.status" [severity]="getSeverity(house)"></p-tag>
              </div>
            </div>
            <div class="d-flex flex-sm-column align-items-center align-items-sm-end gap-3 gap-sm-2">
              <span class="h2 font-weight-semibold">{{house.price + 'FCFA'}}</span>
              <button
                pButton
                icon="pi pi-shopping-cart"
                class="md:align-self-end mb-2 p-button-rounded"
                [disabled]="house.disponibility === false"
              ></button>
            </div>
          </div>
        </div>
      </div>
      </a>
    </ng-template>

  </p-dataView>

</div>
